h1{
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  margin-top: 4.5%;
}
img{
  max-width:100%;
  height:auto;
  overflow: hidden;
}
#image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items :center;
  width:100%;
  height:auto;
}
#detections-number{
  color:white;
  text-align: center;
  font-size: 1.4rem;
}