@font-face {
  font-family: SanFrancisco;
  src: url(../fonts/SF-UI-Display-Regular.otf);
}
body{
  width:100%;
  height:100%;
  font-family: SanFrancisco;
  margin:0;
  background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
  background-repeat: no-repeat;
    background-attachment: fixed;
}
.hideme {
  display: none;
}
.showme {
  display: block;
}
.loader{
  position: absolute;
  height: 100px;
  width: 20%;
  top:40%;
  left:47.5%;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: white;
}

h1{
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  margin-top: 4.5%;
}
#models-form{
  width:100%;
  text-align: center;
}
select {
  cursor:pointer;
  margin-top:2vh;
  color:white;
    padding: 0.7% 0.5% 0.7% 0.5%;
  font-weight: bold;
  font-size: 1.3rem;
  transition: all .2s ease;
  outline: none;
  background: rgba( 240, 240, 240, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.2 );
}
select:hover{
    border: 2px solid rgb(82, 191, 255);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(113, 192, 243, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(113, 192, 243, 1);
  box-shadow: 0px 0px 11px 0px rgba(113, 192, 243, 1);
}
select option {
  color:white;
  background-color:black;
}
select:focus{
  outline: none;
}
form button{
   font-family: SanFrancisco;
  margin: 0;
  color: #fff;
  background: #16a085;
  width: 12%;
  height: 55px;
  margin-top: 4vh;
  letter-spacing: 1.3px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: -4px;
  transition: all .2s ease;
  outline: none;
  background: rgba( 240, 240, 240, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.2 );
  cursor:pointer;
}
form button:hover{
  border: 2px solid rgb(82, 191, 255);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(113, 192, 243, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(113, 192, 243, 1);
  box-shadow: 0px 0px 11px 0px rgba(113, 192, 243, 1);
}
/**,*/
/**::before,*/
/**::after {*/
/*  box-sizing: border-box;*/
/*}*/
/*select {*/
/*  margin: 50px;*/
/*  width: 17%;*/
/*  padding: 5px 35px 5px 5px;*/
/*  font-size: 16px;*/
/*  border: 1px solid #CCC;*/
/*  height: 34px;*/
/*  -webkit-appearance: none;*/
/*  -moz-appearance: none;*/
/*  appearance: none;*/
/*}*/